html, body {
  width: 100%;
  height: 100%; }

body {
  color: #c3c3c5; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.text-vertical-center h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.text-vertical-center h3 {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6); }

/* Custom Button Styles */
.btn-dark {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); }

.btn-light {
  color: #333;
  border: none;
  border-radius: 0;
  background-color: white; }

.btn-light:hover, .btn-light:focus, .btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); }

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 1000;
  right: 0;
  overflow-y: auto;
  width: 250px;
  height: 100%;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  transform: translateX(250px);
  background: #222; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  line-height: 55px;
  height: 55px; }

.sidebar-nav > .sidebar-brand a {
  color: #999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#menu-toggle {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; }

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -ms-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s; }

.toggle {
  font-size: 1em;
  margin: 5px 5px 0 0;
  padding: 15px 20px; }

.main {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* Header */
.header {
  background: url(../img/bg.jpg) no-repeat center center scroll;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* About */
.about {
  background: url(../img/ab.jpg) no-repeat center center scroll; }

.text-center {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6); }

/* Contact */
.contact {
  background: url(../img/cd.jpg) no-repeat center center scroll; }

.langu {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80%;
  text-align: center;
  margin: auto;
  vertical-align: middle; }

.langu .box {
  color: #3b5998;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 300px;
  height: 100px;
  margin: auto;
  padding: 20px;
  text-decoration: none; }

.langu a:hover {
  color: #3b5998;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none; }

.large_langu {
  font-size: 40px; }

.box_des {
  color: #fff; }

.about_footer {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 10%;
  text-align: center;
  margin: auto;
  vertical-align: middle; }

.about_footer > buton:hover {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.9); }

/*# sourceMappingURL=core.css.map */
